.formNewTask {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0 8px;
  margin-top: -1.6875rem;

  input {
    background: var(--gray-500);
    color: var(--gray-100);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    max-width: 638px;
  }

  button {
    background: var(--blue-dark);
    color: var(--gray-100);
    border: 0;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 8px;
    padding: 1rem;
    gap: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;

    &:hover:not(:disabled) {
      background: var(--blue);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}
